<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montagu+Slab:wght@600&family=Praise&display=swap"
  rel="stylesheet"
/>
<title>최종장박봉 가게용</title>
<div id="con">
  <div class="body">
    <h1>Welcome To R.S.T!!</h1>
    <div class="button">
      <button class="btn blue" routerLink="/homecustomer">customer</button>
      &nbsp;
      <button class="btn red" routerLink="/homestore">store</button>
    </div>
  </div>
</div>
